[Unit]
Description=Periodic timer for mbsync down-sync of {{ agent_mail_address }}

[Timer]
OnBootSec=2min
OnUnitActiveSec={{ agent_mail_sync_interval }}
Persistent=true

[Install]
WantedBy=timers.target
